/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #5D5C61;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 750px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff;
    margin: 30px 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5D5C61;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #4a494d;
}

.fruta-info {
    font-size: 16px;
}

.form-excluir {
    margin: 0;
}

.botao-excluir {
    background-color: #5D5C61;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.botao-excluir:hover {
    background-color: #4a494d;
}

.container {
    background-color: #fff;
    margin: 30px 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link-voltar {
    background-color: #fff;
    margin: 20px 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #5D5C61;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 97%;
}

a:hover {
    background-color: #4a494d;
}