<!DOCTYPE html>
<html>
<head>
    <title>Lista de Frutas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frutas/style.css' %}">
</head>
<body>
    <h1>Frutas cadastradas:</h1>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="?ordenar_por=nome" class="botao-ordenar">Ordenar por nome</a>
        <a href="?ordenar_por=quantidade" class="botao-ordenar">Ordenar por quantidade</a>
    </div>    
    <ul>
        {% if frutas %}
            {% for fruta in frutas %}
                <li>
                    <div class="fruta-info">{{ fruta.nome }} - Quantidade: {{ fruta.qtd }}</div>

                    {% if fruta.id %}
                        <form action="{% url 'excluir_fruta' fruta.id %}" method="POST" class="form-excluir">
                            {% csrf_token %}
                            <button type="submit" class="botao-excluir">
                                Remover 1 unidade
                            </button>
                        </form>

                        <form action="{% url 'deletar_fruta' fruta.id %}" method="POST" class="form-excluir">
                            {% csrf_token %}
                            <button type="submit" class="botao-excluir">
                                Deletar fruta
                            </button>
                        </form>

                        <form action="{% url 'editar_fruta' fruta.id %}" method="GET" class="form-excluir">
                            <button type="submit" class="botao-editar">
                                Editar fruta
                            </button>
                        </form>
                    {% endif %}

                </li>
            {% endfor %}
        {% else %}
            <li>Nenhuma fruta cadastrada.</li>
        {% endif %}
    </ul>

    <h2>Adicionar nova fruta</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome da fruta" required>
        <input type="number" name="qtd" placeholder="Quantidade" required min="1">
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
