<!DOCTYPE html>
<html>
<head>
    <title>Lista de Frutas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frutas/style.css' %}">
</head>
<body>
    <h1>Frutas cadastradas:</h1>
    <ul>
        {% for fruta in frutas %}
            <li>
                <div class="fruta-info">{{ fruta.nome }} - Quantidade: {{ fruta.qtd }}</div>
                <form action="{% url 'excluir_fruta' fruta.id %}" method="POST" class="form-excluir">
                    {% csrf_token %}
                    <button type="submit" class="botao-excluir">Excluir</button>
                </form>
            </li>
        {% empty %}
            <li>Nenhuma fruta cadastrada.</li>
        {% endfor %}
    </ul>

    <h2>Adicionar nova fruta</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome da fruta" required>
        <input type="number" name="qtd" placeholder="Quantidade" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
