{% extends 'base.html' %}

{% block content %}
<h1>Personagens Cadastrados</h1>

<ul>
    {% for info in personagens_info %}
        <li>
            <strong>{{ info.personagem.nome }}</strong> ({{ info.personagem.classe }})<br>
            XP necessário para o próximo nível: {{ info.xp_necessario }}<br>
            Progresso: {{ info.progresso }}%
            <br>
            <a href="{% url 'editar_personagem' pk=info.personagem.pk %}">Editar</a>
            <form method="post" action="{% url 'resetar_xp_personagem' pk=info.personagem.pk %}" style="display:inline; margin: 0px; padding: 10px; max-width: 100%;">
                {% csrf_token %}
                <button type="submit" style="margin-left: 10px;">Resetar XP</button>
            </form>
        </li>
    {% empty %}
        <li>Nenhum personagem cadastrado.</li>
    {% endfor %}
</ul>

<a href="{% url 'criar_personagem' %}">Criar novo personagem</a>
<br>
<br>
<form method="post" action="{% url 'resetar_xp' %}" style="margin: 0px; padding: 10px; max-width: 100%;">
    {% csrf_token %}
    <button type="submit">Resetar XP de todos os personagens</button>
</form>
{% endblock %}
