{% extends 'base.html' %}

{% block content %}
<h1>Personagens Cadastrados</h1>

<ul>
    {% for info in personagens_info %}
        <li>
            <strong>{{ info.personagem.nome }}</strong> ({{ info.personagem.classe }})<br>
            XP necessário para o próximo nível: {{ info.xp_necessario }}<br>
            Progresso: {{ info.progresso }}%
            <br>
            <a href="{% url 'editar_personagem' pk=info.personagem.pk %}">Editar</a>
        </li>
    {% empty %}
        <li>Nenhum personagem cadastrado.</li>
    {% endfor %}
</ul>

<a href="{% url 'criar_personagem' %}">Criar novo personagem</a>
{% endblock %}
